    tutorial found at:
<a href="https://blog.realworldfullstack.io/real-world-angular-part-1-not-another-todo-list-c2ea5020f944">
    https://blog.realworldfullstack.io/real-world-angular-part-1-not-another-todo-list-c2ea5020f944
</a>
<br />
<p>Trying to get Category to work, then do tags and questions.</p>

<h1>
    {{title}}
</h1>
<div>
    <ul>
        <li>
            <a [routerLink]="['/categories']">Categories</a>
        </li>
        <li>
            <a [routerLink]="['/tags']">Tags</a>
        </li>
        <li>
            <a [routerLink]="['/questions']">Questions</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>
