<!-- question-add-update.component.html -->

<mat-card>
    <form (ngSubmit)="onSubmit()" class="question-form" [formGroup]="questionForm" novalidate>
        <mat-card-title>Add Question</mat-card-title>
        <mat-card-header>
            <mat-card-title>
                <mat-select placeholder="Category" name="category" formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{ category.categoryName }}
                    </mat-option>
                </mat-select>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-list>
                <mat-input-container class="full-width required">
                    <input matInput placeholder="Question"
                           formControlName="questionText"
                           class="required" />
                    <mat-hint align="end" *ngIf="questionForm.controls.questionText.errors && !questionForm.controls.questionText.pristine"
                              class="error">Question is required!</mat-hint>
                </mat-input-container>

                <div class="error" *ngIf="answers.valid && questionForm.hasError('correctAnswerCountInvalid')">
                    Pick one and only one correct answer
                </div>

                <!--<p *ngFor="let index of [1, 2, 3, 4]">-->
                <div formArrayName="answers" class="well well-lg">
                    <div *ngFor="let answer of answers.controls; let i=index"
                         [formGroupName]="i">
                        <mat-input-container class="full-width required">
                            <mat-checkbox mat-prefix formControlName="correct"></mat-checkbox>
                            <input matInput [placeholder]="'Answer: ' + (i+1)"
                                   formControlName="answerText" />
                            <!-- * ngIf ="questionForm.controls.answerText.errors && !questionForm.controls.answerText.pristine" -->
                            <mat-hint align="end"
                                      class="error">Answer is required!</mat-hint>
                        </mat-input-container>
                    </div>
                </div>
                <!--</p>-->
            </mat-list>

            <div class="error" *ngIf="answers.valid && questionForm.controls.questionText.valid && questionForm.hasError('tagCountInvalid')">
                Must have atleast 3 tags
            </div>

            <p>
                <mat-input-container>
                    <input matInput placeholder="Tag" />
                </mat-input-container>
            </p>

            <mat-chip-list>
                <mat-chip *ngFor="let tag of autoTags">
                    {{ tag }}
                </mat-chip>
                <mat-chip *ngFor="let tag of enteredTags">
                    {{ tag }} <span (click)="removeEnteredTag(tag)" class="remove-tag">x</span>
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>SAVE</button>
            <button mat-button>CANCEL</button>
            <button mat-button color="primary" [disabled]="questionForm.controls.tags.value==''"
                    (click)="addTag()">ADD</button>
        </mat-card-actions>
    </form>
</mat-card>
